* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

html{
  background-color: black;
}

body {
  font-family: 'Anonymous Pro';
  background: #f1f1f1;
}

.logo {
  margin: 20px 0% 27px 9%;
}

.header {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid black;
}


.container {
  margin: auto;
}

.main {
  display: block;
  width: 100%;
  min-height: 100vh;
  color: #121723;
}

.content {
  margin: 1px auto 26px;
  width: 90%;
  max-width: 1290px;
}

.content__title {
  color: #121723;
  font-family: 'Anonymous Pro';
  font-size: 48px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0em;
  margin: 0px 0% 0px 8%;
  text-align: left;
}

.content__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  margin: 26px 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 72px;
  max-width: 300px;
  border-radius: 12px;
  background-color: white;
}

.card__image {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.card__info {
  display: block;
  margin: 0;
  padding: 24px 12px;
  min-height: 150px;
}

.card__link {
  width: 85%;
  color: #121723;
  text-decoration: none;
}

.card__text {
  font-family: 'Anonymous Pro';
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  
}

.card__text_author {
  font-family: 'Anonymous Pro';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  
}

.footer {
  background-color: black;
}

.top-menu-1 {
  display: flex;
  gap: 24px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid #A1A6B4;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.cross{
  text-align: center;
  color: #A1A6B4;
  font-family: 'Anonymous Pro';
  margin: 15px 0px 15px 0px;
}

.con{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-menu{
  display: flex;
  gap: 24px;
  font-size: 20px;
  font-weight: 700;
}